button{
    width: 100%;
    background-color: darkblue;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: transform .5s;
}
button:hover{
    transform: scale(1.03);
}
button:disabled{
    background-color: #888;
    cursor: not-allowed;
}